$white: #FFFFFF;
$almost-white: #f9f9f9;
$dark-grey: #484847;
$lighter-grey: #D1D1D1;
$almost-black: #272a29;

$red: #FF0000;
$dark-green: #4B755F;
$sage: #A4CDBB;
$it-will: #E1EDE9;
$light-coral: #FF9E8F;
$flying-bird: #F98261;
$red-orange: #Fd3124;
