/* General CSS */
body {
  font-family: $lato;
  font-size: 15px;
  color: $dark-grey;
  background: $almost-white;
  margin-bottom: 100px;
}

h1, h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
  font-size: 33px;
}

h2 {
  font-size: 26px;
}

h3 {
 font-size: 18px;
 margin-bottom: 40px;
  font-weight: 700;
}

h4 {
  margin: 3% 0;
  font-weight: 700;
}

p {
  font-family: $open-sans;
  font-size: 15px;
  text-align: justify;
}


a {
  color: $dark-grey;
}

a:hover {
  color: $red-orange;
}

button, .button {
  font-size: 14px;
  background: $light-coral;
	color: white;
	padding: 8px 15px;
	border-radius: 6px;
	text-align: center;
  display: inline-block;
  border-bottom: 1px solid $flying-bird;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  white-space: nowrap;
}

button:hover, .button:hover {
  background: $flying-bird;
  cursor: pointer;
}

textarea {
  border: 1px solid $lighter-grey;
  color: $dark-grey;
  border-radius: 5px;
  padding: 8px 15px;
}

input {
  border-radius: 5px;
  padding: 8px 15px;
  border: 1px solid $lighter-grey;
}
