.all-classes-projects-wrapper {
  padding: 4.5% 6% 0 6%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.all-classes-projects {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.all-classes-projects h1 {
  font-weight: 400;
  font-size: 33px;
  padding-left: 1%;
}

.item-list {
  margin-right: 0;
}

.item-list ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.item-list li {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  margin-bottom: 1%;
  width: 25%;
  min-width: 250px;
  box-sizing: border-box;
}

.item-list a:hover {
  color: $red-orange;
}

.cover-img {
  max-width: 100%;
  border-radius: 5px;
}

.list-item-title {
  padding: 1%;
  max-width: 100%;
}

.thin-border {
  margin: 27.5px 8px;
  border-bottom: 1px solid $lighter-grey;
}
