
.attachment-list-wrapper h3 {
  margin-bottom: 35px;
}

.attachment-li {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  padding: 5px 0;
}

.attachment-li::before {
    content: "\f0c6";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0 8px 0 0;
}

.attachment-list a {
  color: $flying-bird;
}

.attachment-list a:hover {
  color: $red-orange;
}

.attachment-file-size {
  padding: 5px 0px 5px 22px;
  color: $medium-grey;
}
