.course-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D1D1D1;
}

.tab-items {
  display: flex;
  flex-direction: row;
  width: 75%;
}
.tab-items a {
  padding: 26px 21px;

}

.active-tab {
  color: $darker-sage;
  border-bottom: 2px solid $darker-sage;
}

.tab-items .active-tab:hover {
  color: $darker-sage;
  border-bottom: 2px solid $darker-sage;
}


.tab-items a:hover {
  color: $dark-grey;
  border-bottom: 2px solid $lighter-grey;
}
