.course-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D1D1D1;
}

.tabs-wrapper {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-items {
  display: flex;
  flex-direction: row;
}

.enrolled {
  height: 35px;
  padding: 0 10px 0 10px;
  min-width: 75px;
  background: $sage;
  border-bottom: 1px solid $darker-sage;
}

.unenrolled {
  height: 35px;
  padding: 0 10px 0 10px;
  min-width: 75px;
}

.enrolled:hover {
  background: $darker-sage;
  border-bottom: 1px solid $dark-sage;
}

.enrolled::before {
  content: "\f097";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding: 0 8px 0 0;
}

.unenrolled::before {
  content: "\f02e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding: 0 8px 0 0;
}



.tab-items a {
  padding: 26px 21px;

}

.active-tab {
  color: $darker-sage;
  border-bottom: 2px solid $darker-sage;
}

.tab-items .active-tab:hover {
  color: $darker-sage;
  border-bottom: 2px solid $darker-sage;
}


.tab-items a:hover {
  color: $dark-grey;
  border-bottom: 2px solid $lighter-grey;
}
