.about {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.projects {
  width: 75%;
  padding-top: 60px;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.assignment {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.assignment-details {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 5%;
}

.reviews {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

p > a {
  color: $dark-green;
}

p > a:hover {
  color: $dark-sage;
}

p > em {
  font-family: $lato;
  font-weight: bold;
}
