/* For Header */


header {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  border-bottom: 2px solid $lighter-grey;
  padding-top: 0.938em;
  padding-bottom: 0.938em;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background: white;
}

header section {
  display: flex;
  flex-direction: row;
}

header section ul {
  display: flex;
  align-items: center;
}

.nav-right img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding-right: 0px;
}

.nav-search {
  width: 50%;
  justify-content: center;
  position: relative;
}

.nav-left li {
  padding-right: 11px;
  padding-left: 11px;
}

.nav-left span {
  padding-right: 11px;
}

.nav-right li, .nav-right span {
  padding: 0px 0px 0px 15px;
}

.search-bar {
  width: 90%;
  border-radius: 5px;
  padding: 8px 15px 8px 30px;
  border: 1px solid $lighter-grey;
  font-size: 12px;
}

.nav-search::before {
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding: 0 0 0 0;
  color: $medium-grey;
  position: absolute;
  top: 9px;
  left: 16px;
}

#logo {
  height: 30px;
}

.gravatar-letter {
  position: absolute;
  top: 8px;
  left: -6px;
  color: $white;
  z-index: 1;
}

.gravatar img {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 2;
}

.gravatar {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $flying-bird; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $red , $flying-bird); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $red, $flying-bird); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $red, $flying-bird); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $red, $flying-bird);
}
