.profile-wrapper {
  width: 75%;
  padding-top: 60px;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.profile-wrapper .item-list ul {
  justify-content: flex-start;
}

.user-edit-form {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.user-info {
  padding: 20px 20px 20px 70px;
}

.profile-wrapper h2 {
  margin-left: 8px;
  padding: 30px 0 30px 0;
}

.profile-wrapper h1, h3 {
  padding: 10px;
  margin-bottom: 0px;
}

.profile-wrapper h4 {
  font-weight: 400;
  padding: 10px;
  margin-bottom: 0px;
}

.prof-gravatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: $flying-bird; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $red , $flying-bird); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $red, $flying-bird); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $red, $flying-bird); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $red, $flying-bird);
}

.prof-gravatar-letter {
  color: $white;
  position: absolute;
  top: 45px;
  left: 53px;
  z-index: 1;
  font-size: 60px;
}

.prof-gravatar img {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}

.user-info-wrapper {
  display: flex;
  width: 75%;
}

.profile-buttons {
  width: 25%;
  padding: 20px;
  justify-content: center;
  display: flex;
}

.profile-buttons li {
  padding: 10px;
}

.bold-num {
  font-weight: 700;
}

.profile-buttons button {
  width: 100%;
}

.enrolled-count::before {
  content: "\f02e";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding: 0 8px 0 0;
}

.project-count::before {
  content: "\f1fc";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding: 0 8px 0 0;
}
