/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');


body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #585957;
}

a {
  color: #585957;
}

a:hover {
  color: #F98261;
}

header {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  border-bottom: 2px solid #D1D1D1;
  padding-top: 0.938em;
  padding-bottom: 0.938em;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

header section {
  display: flex;
  flex-direction: row;
}

header section ul {
  display: flex;
  align-items: center;
}

header section h3 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.188em;
}

.nav-right img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding-right: 0px;
}

.nav-left ul{
}

.nav-search {
  width: 50%;
  justify-content: center;
}

.nav-left li, span {
  padding-left: 22px;
  padding-left: 22px;
}

.nav-right li, span {
  padding: 0px 0px 0px 15px;
}

#searchBar {
  width: 90%;
  border-radius: 5px;
  padding: 8px 15px;
  border: 1px solid #D1D1D1;
  color: #D1D1D1;
}

button {
  font-size: 14px;
  background: #FF9E8F;
	color: white;
	padding: 8px 15px;
	border-radius: 6px;
	text-align: center;
  display: inline-block;
  border-bottom: 1px solid #F98261;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  white-space: nowrap;
}

button:hover {
  background: #F98261;
}
